#banner {
  width: 100%;
  position: relative;
  height: 609px;
}

#banner {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#banner img {
  width: inherit;
  height: inherit;
}

#banner .banner__text {
  position: absolute;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 100px;
  margin-left: 100px;
}

.banner__title {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 700;
  font-size: 5vw;
}

.banner__desc {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}



@media screen and (max-width: 620px) {
  #banner img {
    width: inherit;
    height: inherit;
  }

  #banner{
    height: 400px;
  }

  #banner .banner__text {
    margin: 100px 16px 16px 16px;
  }
}
