.categories-outer {
  width: 888px;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 13px;
  box-shadow: 0px 11px 30px 4px rgba(0, 0, 0, 0.07);
  position: relative;
  margin-top: -60px;
  background-color: white;
}
#categories {
  display: flex;
  margin: 0 auto;
  width: 600px;
  justify-content: space-between;
}

.category {
  width: 55.74px;
  height: 55.74px;
  background: #f0f0f0;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.category-orange {
  background: #e68314;
  border-radius: 12px;
}

@media screen and (max-width: 620px) {
  .categories-outer {
    width: initial;
    margin: auto;
    box-shadow: none;
  }
  #categories {
    width: auto;
  }

  .category{
    
  }
}
